node-red-aws/flow/post/event.json
[{"label":"Flow 1","id":"50a547c4.0c60b8","type":"tab"},{"y":200,"id":"8f37d60e.5c1d88","z":"50a547c4.0c60b8","console":"false","active":true,"name":null,"wires":[],"complete":"false","type":"debug","x":410},{"y":80,"id":"3671fe24.a2a3e2","z":"50a547c4.0c60b8","console":"false","active":true,"name":null,"wires":[],"complete":"false","type":"debug","x":410},{"payloadType":"str","once":false,"repeat":null,"topic":null,"wires":[["3671fe24.a2a3e2","8f37d60e.5c1d88"]],"y":140,"id":"94b523c6.ad8e7","z":"50a547c4.0c60b8","payload":"\"aBIOAs\"","crontab":null,"name":null,"type":"inject","x":120}]